<div class="center hero-unit">
  <h1>Todolist App</h1>
  <h2>Organize your life the right way</h2>
  <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary btnft" %>
</div>
<%= link_to image_tag("logo.png", alt: "Fiona's App"), root_url %>